@import '../core/variables';

.header {
  align-items: center;
  background: transparent;
  background: linear-gradient(to left, $secundary, $primary-dark);
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  padding: 16px;
  position: fixed;
  width: 100%;
  z-index: 1;

  &__title {
    color: $white;
    font-size: 24px;
    text-transform: uppercase;
  }

  &__link {
    color: $white;
    font-weight: bold;
    padding: 0 16px;
    text-decoration: none;
  }

  &__link:hover {
    color: $primary;
  }
}

.footer {
  color:rgba(255, 255, 255, 0.3);
  background-color: $secundary-dark;
  padding: 16px;
  text-align: center;
}
