@import '../core/variables';
@import '../core/mixins';

.lastInfo__container {
  background-color: $ligth;
  padding: $gap-lg;
  flex-direction: column;
  @include flex-center;
}

.lastInfo__icon {
  background-color: $white;
  border-radius: 50%;
  box-shadow: 1px 1px 2px $ligth;
  color: $primary;
  font-size: 64px;
  height: 200px;
  padding: $gap-md;
  width: 200px;
  @include flex-center;
}

.lastInfo__information {
  color: $white;
  font-size: 64px;
}