@import '../core/variables';
@import '../core/mixins';

.lastInfo__title {
  color: $white;
  font-size: 56px;
  font-weight: 900;
}

.lastInfo__wrap {
  background-color: $ligth;
  padding: $gap-lg;
  @include flex-column;
}

.lastInfo__container {
  display: flex;
  @include flex-column;

  @media all and (min-width: $tablet) {
    flex-direction: row;
  }
}

.lastInfo {
  padding: $gap-lg;
}