@import '../core/variables';
@import '../core/mixins';


.liveInfo {
  @include flex-column;
  background-color: $ligth;
  padding: $gap-lg;

  &__title {
    @include section-title;
  }
  
  &__container {
    @include flex-column;
    display: flex;
    width: 100%;
  
    @media all and (min-width: $tablet) {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
  
  .lastInfo {
    padding-bottom: $gap-md;

    @media all and (min-width: $tablet) {
      width: auto;
    }
  }
}