@import '../core/variables';
@import '../core/mixins';

.minuteInfo {
    padding: $gap-lg;
    text-align: center;
  
    &__title {
      @include section-title;
    }
    
    &__wrapper {
      padding-bottom: $gap-lg;
    }
  
    &__chart-name {
      font-size: 18px;
      padding-bottom: $gap-md;
    }
  }