@import './variables';

@mixin flex-center {
  align-items: center;
  display:flex;
  justify-content: center;
}

@mixin flex-column {
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

@mixin section-title {
  color: rgba($secondary-dark, 0.9);
  font-size: 26px;
  font-weight: 900;
  padding-bottom: $gap-lg;
}