//colours
$white: #fff;
$ligth: #eee;
$primary: #00cc76;
$primary-dark: #009688;
$secondary: #3f51b5;
$secondary-dark: #002129;
$dark: #000;

// sizes
$wrapperWidth: 1050px;


//media
$tablet: 768px;
$desktop: 1024px;
$desktop-xl: 1920px;


//gap
$gap-sm: 8px;
$gap-md: 16px;
$gap-lg: 32px;
$gap-xl: 64px;
$gap-xxl: 100px;
